# Default ignored files
.mysql-data
*.toDelete
output/**
Angular/crud-tuto-front/.angular/**
*.class
*~
*.iml
*/.idea/**
.idea/**
/.idea
*.log
*.log.[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]
*/.classpath
.classpath
*/.project
.project
.cache/**

tmp_sh/
.gwt/
.settings/
/bin
bin/
**/dependency-reduced-pom.xml
pom.xml.versionsBackup
.DS_Store
**/.gradle
**/local.properties
**/Californium.properties
**/.env
.instance_id
rebuild-docker.sh
.run/**


.run
secrets/**